.navContainer {
  background-color: black;
}
.navbar,
.navbar-default {
  background-color: black;
  color: white;
  height: 55px;
  padding: 0px 10px;
}
.iconImage {
  height: 50px;
}

.menuImage {
  width: inherit;
}

.mainContainer {
  margin-top: 85px;
}

.navLink {
  padding: 0 !important;
}

.messageContainer {
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  position: fixed;
}

.messageContainer > p {
  line-height: 30px;
}

.footerContainer {
  font-size: 40px;
}
.fa-instagram {
  /* font-size: 25px; */
  position: relative;
  top: 3px;
  left: 5px;
  color: black;
}

.App {
  padding-bottom: 50px;
}

/* phone */
@media (max-width: 759px) {
  .contentRow {
    display: flex;
    flex-direction: column-reverse;
  }
  .mainContainer {
    margin-top: 0px;
  }
  .messageContainer {
    margin-top: 75px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
  }
  .footerContainer {
    font-size: 15px;
    text-align: center;
  }
  .fa-instagram {
    font-size: 25px;
    position: relative;
    top: 5px;
    left: 5px;
    color: black;
  }
}
